/* src/styles.css */
button {
    background-color: #4caf50; /* Color verde */
    color: white;
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049; /* Cambio de color al pasar el ratón */
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  